<% if (theme.wx_block){ %>
<script type="text/javascript">
var isWX = /micromessenger/i.test(navigator.userAgent);
if (isWX) {
  document.write('<br/><br/><h1 style="text-align: center;font-size:32px;" >╮(╯_╰)╭</h1><br/><br/><h4 style="text-align: center;" >请在浏览器中打开。</h4><br/><h4 style="text-align: center;" >Please open in the browser.</h4>');
  window.stop ? window.stop() : document.execCommand("Stop");
}
</script>
<% } %>
