#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  
  .license
    max-width 150px
    margin-right 300px
    vertical-align baseline
    font-size 0.9em
    text-align center

  	

  .license img
  	margin 0px 30px