#mobile-nav
  position: absolute
  top: 0
  left: 0
  width: mobile-nav-width
  height: 100%
  background: color-mobile-nav-background
  border-right: 1px solid #fff

.mobile-nav-link
  display: block
  color: color-grey
  text-decoration: none
  padding: 15px 20px
  border-bottom: 1px solid color-mobile-nav-border
  font-weight: bold
  line-height: 1em
  &:hover
    color: #fff
